@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Regular.ttf") format("truetype")
}
  
* {
  box-sizing: border-box;
}

body {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.1);
  overflow: hidden;
}

.quiz-content {
  padding: 4rem;
}

h2 {
  margin: 0;
  padding: 1rem;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 0.5rem 0;
  font-size: 1rem;
}

ul li label {
  cursor: pointer;
}

button {
  background-color: steelblue;
  display: block;
  width: 100%;
  color: #fff;
  padding: 1.3rem;
  font-family: inherit;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

button:hover {
  background-color: rgb(58, 116, 163);
}
